.about{
    padding: 2em; 
    font-size: larger; 
    display: flex;
    background-color: aliceblue;
    margin: 1em;
    margin-left: 0.8em;
}
.infotext{
    margin: 1em;
    text-align: left;
    font-size: larger;
    
}
.h1,h1{
color:lightslategray;

}
.h2,h2{
 font-size: 1.5em;
 font-family: sans-serif;
 padding: 1em;
}
.skills{ 
    background-color: rgb(233, 233, 233);
    padding: 1em; 
    margin: 1em;
    font-size: larger; 
    text-align: left; 
    margin-left: 0em;
}
.content{  
background-color:whitesmoke;
}
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
.contact{
    background-color: rgb(233, 233, 233);
    padding: 1em; 
    margin: 1em;
    font-size: larger;  
    margin-right: 0em;
}