.about{
    padding: 2em; 
    font-size: larger; 
    display: flex;
    background-color: aliceblue;
    margin: 1em;
    margin-left: 0.5em; 
}
.infotext{
    margin: 1em;
    text-align: left;
    font-size: larger;
    
}
body{
    min-width: fit-content;
}
.h1,h1{
color:lightslategray;

}

#linkbutton{
    margin:1em;
    width: 70vw;
}
.figure{
    max-width: 45%;
}
.h2,h2{
 font-size: 1.5em;
 font-family: sans-serif;
 padding: 1em;
}
.skills{ 
    width:100%;
    height: 100%; 
    background-color: rgb(233, 233, 233);
    padding: 1em; 
    margin: 1em;
    font-size: larger; 
    text-align: left; 
    margin-left: 0em;
}
.content{  
max-width: 110vw;
padding: 1em;
background-color:whitesmoke;
justify-content: center;
}
.card{
 width: 25%;
 height: 80%; 
 margin: auto;
}
.contact{
    width:100%;
    height:100%;
    background-color: rgb(233, 233, 233);
    padding: 1em; 
    margin: 1em;
    font-size: larger; 
    text-align: center; 
    margin-right: 0em; 
    align-items: baseline;
}
@media only screen and (max-width:768px){
        [class*="col-"]{
            width:100%;
        }
        .about{
            display: block;
            align-items:unset;
        }
        .figure{
            max-width: 80%;
        }
        .skills{
            height: 15em; 
            min-width: fit-content;
        }
        .contact{
            height: 15em; 
            min-width: fit-content;
            padding: 1em;  
            margin-right: 1em;
            margin-left: 0em;
            justify-content: center;
        }
        .content{  
            padding: 1em;
            font-size: smaller;
        }
        h1.display-2{
            font-size: 4em; 
        }
        

}
@media only screen and (max-width:1400px){
    .card{
        width: fit-content;
        height: fit-content;
        margin-top: 1em;
    }
}